<section class="slide center">
  <h3>Это ещё не всё!</h3>
  <ul>
		<li>линтовка</li>
		<li>конкатенация, минификация</li>
		<li>спрайты, оптимизация картинок</li>
		<li>запуск дев-сервера</li>
		<li>релиз новой версии</li>
		<li><a href="http://rhr.me/pres/automation/" style="text-decoration: underline;">rhr.me/pres/automation</a></li>
	</ul>
</section>
