<section class="slide slide-justify">
	<h3>package.json/scripts</h3>
	<ul>
		<li><code>install</code></li>
		<li><code>test</code></li>
		<li><code>build</code></li>
	</ul>

	<pre><code>&gt; npm install
&gt; npm run build</code></pre>
</section>