<section class="slide slide-jusitify">
	<h3>Сборка</h3>
	<ul>
		<li>Выкачать зависимости</li>
		<li>Запустить сборку Assemble</li>
		<li>Запустить сборку Stylus</li>
		<li>Прогнать тесты</li>
		<li>Запаковать в архив</li>
	</ul>
</section>