<section class="slide center">
	<h3>Таск-раннер</h3>
	<div class="logos" style="margin-top: 1em;">
		<img src="inc/img/npm-grunt/grunt-logo.png">
		<img class="fragment" src="inc/img/npm-grunt/gulp-logo.png">
	</div>
</section>