<section class="slide">
  <h3>Это ещё не всё!</h3>
  <ul>
		<li>JSHint, JSCS, CSSLint</li>
		<li>конкатенация, минификация</li>
		<li>создание спрайтов, оптимизация изображений</li>
		<li>запуск локального дев-сервера</li>
		<li>релиз новой версии</li>
		<li>…</li>
	</ul>
</section>
