<section class="slide">
	<h3>Gruntfile.js</h3>
	<ul>
		<li><code>install</code></li>
		<li><code>test</code></li>
		<li><code>build</code></li>
		<li class="fragment"><code>default</code> — стартует дев-режим</li>
		<li class="fragment">рутинные таски: поднять дев-сервер, собрать что-то одно</li>
	</ul>
</section>