<section class="slide slide-jusitify">
	<h3>Новый блок</h3>
	<ul>
		<li>Подключить через Bower, выкачать</li>
		<li>Создать блок с помощью Yo</li>
		<li>Запустить сборку и вотчер Assemble</li>
		<li>Запустить сборку и вотчер Stylus</li>
		<li>Запустить Karma в режиме вотчера</li>
	</ul>
</section>