<section class="slide slide-justify">
	<h3>Gruntfile.js</h3>
	<ul>
		<li><code>default</code> — стартует дев-режим</li>
		<li>поднять дев-сервер</li>
		<li>собрать что-то одно: html, css, скин</li>
		<li>параметры через <code>--prod</code></li>
	</ul>
</section>