<section class="slide center">
	<h3>Переиспользование</h3>
	<ul>
		<li>Stylus-миксины</li>
		<li>Партиалы</li>
		<li>Хелперы</li>
		<li>JS-библиотечки/компоненты</li>
		<li>Базовые стили для компонентов</li>
	</ul>
</section>