<section class="slide center">
    <h3 style="font-size: 1.3em;">Добавление зависимостей</h3>
    bower.json
	<pre><code class="javascript" style="font-size: 1.2em; line-height: 1.3em;">{
    "name": "project",
    "dependencies": {
        "selectbox": "1.1.0",
        "combobox": "1.0.1",
        "scrollable": "2.0.8"
    }
}</code></pre>
    CLI
    	<pre><code class="bash" style="font-size: 1.4em;">
$ bower install jquery --save
	    </code></pre>
</section>