<section class="slide" data-background="inc/img/bower/crossroad.jpg" data-background-size="100%" data-background-repeat="no-repeat" data-background-position="center">
	{{#nolinebreaks}}
		<div class="ways fragment">
			<div class="way way-maven">
				<h3>сложно</h3>
			</div>
			<div class="way way-svn">
				<h3>неудобно</h3>
			</div>
		</div>

	{{/nolinebreaks}}
</section>