<section class="slide center">
    <h4>Добавление зависимостей</h4>
    <br/>
    bower.json
	<pre><code class="javascript">{
    "name": "project",
    "dependencies": {
        "selectbox": "#1.1.0",
        "combobox": "#1.0.1",
        "scrollable": "#2.0.8"
    }
}</code></pre>
    <br/>
    CLI
    	<pre><code class="bash" style="font-size: 1.4em;">
$ bower install jquery --save
	    </code></pre>
</section>