<section class="slide center">

    <span class="reuse-markup">верстка</span>
    <span class="reuse-libs">библиотеки</span>
    <span class="reuse-mixins">миксины</span>
    <br/>
    <br/>
    <h2>Внутренние зависимости</h2>
    <br/>
    <span class="reuse-widgets">виджеты</span>
    <span class="reuse-controls">контролы</span>
</section>