<section class="slide center">
	<img src="inc/img/bower/jquery.png" alt=""/>
	<img src="inc/img/bower/angular.png" alt=""/>
	<h2 style="margin: 50px 0;">внешние зависимости</h2>
	<img src="inc/img/bower/es5-shim.png" alt=""/>
	<img src="inc/img/bower/bootstrap.png" alt=""/>
</section>