<section class="slide center">
    <h3>Зависимости</h3>
	<br/>
    {{#nolinebreaks}}
        <div class="ways">
            <div class="way">
                <ul>
                    <li>styl файлы</li>
                    <li>верстка</li>
                    <li>хелперы</li>
                    <li>демо данные</li>
                </ul>
            </div><div class="way">
                <ul>
                    <li>библиотеки</li>
                    <li>контролы</li>
                    <li>виджеты</li>
                </ul>
            </div>
        </div>
    {{/nolinebreaks}}
</section>