<section class="slide" data-background="inc/img/bower/reuse.jpg" data-background-size="50%" data-background-repeat="no-repeat" data-background-position="center">
	<div class="ways">
		{{#nolinebreaks}}
			<div class="way">
				<h3>Dev-зависимости</h3>
				<ul>
					<li>styl файлы</li>
					<li>кусочки верстки</li>
					<li>хелперы для верстки</li>
					<li>данные</li>
					<li>проекты</li>
				</ul>
			</div>

			<div class="way">
				<h3>Prod-зависимости</h3>
				<ul>
					<li>внутренние библиоткеи</li>
					<li>внешние библиотеки</li>
				</ul>
			</div>
		{{/nolinebreaks}}
	</div>
</section>