<section class="slide" data-background="inc/img/bower/reuse.jpg" data-background-size="50%" data-background-repeat="no-repeat" data-background-position="center">
    <h3>Что переиспользовать?</h3>
    <h3 style="visibility: hidden;">Что тестировать?</h3>
    {{#nolinebreaks}}
        <div class="ways">
            <div class="way">
                <h4>Dev-зависимости</h4>
                <br/>
                <ul>
                    <li>styl файлы</li>
                    <li>кусочки верстки</li>
                    <li>хелперы</li>
                    <li>данные</li>
                    <li>проекты</li>
                </ul>
            </div><div class="way">
            <h4>Prod-зависимости</h4>
                <div style="color: #999;">(внешние и внутренние)</div>
                <ul>
                    <li>библиотеки</li>
                    <li style="visibility: hidden;"></li>
                    <li>контролы</li>
                    <li>виджеты</li>
                </ul>
            </div>
        </div>
    {{/nolinebreaks}}
</section>