<section class="slide">
    <h3 style="font-size: 1.3em;">Подключаем Marionette</h3>
	<br/>
    <div class="fullsize" style="height: 499px;">
        <img src="inc/img/bower/marionette-1.jpg" width="1024" class="fullsize--img" alt=""/>
        <img src="inc/img/bower/marionette-2.jpg" width="1024" class="fullsize--img fragment" alt=""/>
        <img src="inc/img/bower/marionette-3.jpg" width="1024" class="fullsize--img fragment" alt=""/>
        <img src="inc/img/bower/marionette-4.jpg" width="1024" class="fullsize--img fragment" alt=""/>
    </div>
</section>