<section class="slide">
	<h3 style="font-size: 1.3em;">Источники зависимостей</h3>

	<ul style="font-size: 1.3em; margin-top: .3em;">
		<li>bower-registry</li>
		<li>git-репозиторий</li>
		<li>прямая ссылка на файл</li>
		<li>прямая ссылка на архив</li>
        <li class="fragment">svn-репозиторий</li>
	</ul>
</section>