<section class="slide">
    <h4>Подключаем Marionette</h4>

    <div style="position: relative;">
        <img src="inc/img/bower/marionette-1.jpg" style="visibility: hidden" alt=""/>
        <img src="inc/img/bower/marionette-1.jpg" class="absHCenter" alt=""/>
        <img src="inc/img/bower/marionette-2.jpg" class="absHCenter fragment" alt=""/>
        <img src="inc/img/bower/marionette-3.jpg" class="absHCenter fragment" alt=""/>
        <img src="inc/img/bower/marionette-4.jpg" class="absHCenter fragment" alt=""/>
    </div>
</section>