<section class="slide">
	<h3>Источники зависимостей</h3>
	<ul>
		<li>bower-registry</li>
		<li>git-репозиторий</li>
		<li>прямая ссылка на файл</li>
		<li>прямая ссылка на архив</li>
        <li class="fragment">svn-репозиторий</li>
	</ul>
</section>