<section class="slide center">
	<img class="reuse-jquery" src="inc/img/bower/jquery.png" alt=""/>
	<img class="reuse-angular" src="inc/img/bower/angular.png" alt=""/>
	<h2 style="margin: 50px 0;">внешние зависимости</h2>
	<img class="reuse-shim" src="inc/img/bower/es5-shim.png" alt=""/>
	<img class="reuse-bootstrap" src="inc/img/bower/bootstrap.png" alt=""/>
</section>