<section class="slide">
    <h3>Управление зависимостями</h3>
    <h4>svn-external</h4>
    <br/>
    <ul class="fragment">
        <li>возможность прокоммтиться в таг</li>
        <li>неудобное подключение звисимостей</li>
        <li>только внутренние зависимости</li>
    </ul>
</section>