.reveal {
	del {
		position: relative;
		text-decoration: none;

		&:after {
			content: '';
			absolute: left right top 50%;
			height: 3px;
			background: #333;
		}
	}
	h3 small {
		vertical-align: middle;
	}
}