.reuse {
	&-markup {
		display: inline-block;
		transform: translate(-150%, 0) rotate(-30deg);
	}

	&-libs {
		display: inline-block;
		transform: translate(0, -200%) rotate(20deg);
	}

	&-mixins {
		display: inline-block;
		transform: translate(150%, 0) rotate(-20deg);
	}

	&-widgets {
		display: inline-block;
		transform: translate(-200%, 50%) rotate(25deg);
	}

	&-controls {
		display: inline-block;
		transform: translate(100%, 100%) rotate(10deg);
	}

	&-jquery {
		transform: translate(-50%, -10%) rotate(20deg) scale(.5);
	}

	&-angular {
		transform: translate(50%, -30%) rotate(-10deg) scale(.5);
	}

	&-shim {
		transform: translate(-100%, 40%) rotate(-45deg) scale(.9);
	}

	&-bootstrap {
		transform: translate(100%, 30%) rotate(5deg) scale(.9);
	}
}