.reveal {
	.slide-start {
		img {
			margin-top: 100px;
			border: none;
			float: left;
		}


		.conf {
			float: left;
			text-align: left;
		}

		.speakers {
			float: right;

			&--list {
				text-align: right;
				list-style: none;
				line-height: 1.2;

				li::before {
					display: none;
				}
			}
		}
	}
}
