.reveal {
	.ways {
		width: 100%;
	}
	.way {
		display: inline-block;
		width: 50%;
		vertical-align: top;

		&:first-child {
			relative: right 30px;
		}
		&:last-child {
			relative: left 30px;
		}
	}
}

