.reveal {
	.way {
		display: inline-block;
		width: 50%;
		vertical-align: top;

		&:first-child {
			relative: right 30px;
		}
		&:last-child {
			relative: left 30px;
		}

		h3 {
			color: #fff;
			text-shadow: 0 0 5px #000;
		}
	}
}

