<section class="slide slide-justify">
	<h3>Магия</h3>
	<pre><code>-flexible-plates($unavailableAreaWidth) {
  $platePlaceholderSize = $dashboardPlateMinSize + $dashboardPlateWhiteSpace;

  $steps = unit(floor(($maxViewPortWidth - $minViewPortWidth) / $platePlaceholderSize), '');

  for $i in 0..$steps {
    $availableAreaWidth = $minViewPortWidth + ($platePlaceholderSize * $i) - $unavailableAreaWidth;
    $plateCount = unit(floor($availableAreaWidth / $platePlaceholderSize), '');
    $plateWidth = "calc((100% / %s) - %s)" % ($plateCount $dashboardPlateWhiteSpace);

    unquote("@media screen and (min-width: " + ($minViewPortWidth + ($platePlaceholderSize * $i)) + ") {");
      & .plate {
        width: $plateWidth;
      }
    unquote("}");
  }
}</code></pre>
</section>