<section class="slide center">
	<h3>Циклы</h3>
	<pre style="margin-top: 1.5em;"><code class="scss">.columns {
  &--column {
    for $colsTotal in (2 3 4 5 6 8 10) {
      for $col in (1...$colsTotal) {
        &-{$col}_{$colsTotal} {
          width: $col * (100% / $colsTotal);
        }
      }
    }
  }
}</code></pre>
</section>