<section class="slide center">
	<h3>Проблемы CSS</h3>
	<ul>
		<li>повторения в селекторах</li>
		<li>отсутствие конфигурации</li>
		<li>префиксы</li>
		<li class="fragment">свой вариант</li>
	</ul>
</section>