<section class="slide slide-justify">
	<h2>Копай глубже!</h2>
	<ul>
		<li class="fragment">Циклы</li>
		<li class="fragment">Функции</li>
		<li class="fragment">Параметризация</li>
		<li class="fragment"><code>@extend</code></li>
		<li class="fragment">Плагины</li>
	</ul>
</section>