<section class="slide slide-justify">
	<h3>Колонки без циклов</h3>
	<pre><code class="scss">.columns {
  &--column {
    float: left;

    &-1_2 {
      width: 50%;
    }
    &-1_3 {
      width: (100% / 3);
    }
    &-2_3 {
      width: (100% / 3) * 2;
    }
  }
}</code></pre>
</section>