<section class="slide">
	<h3>Препроцессор? — Никогда не слышал</h3>

	<p style="margin-top: 1em; font-size: 1.4em;">Язык + Компилятор</p>

	<div class="logos">
		<img src="inc/img/stylus/sass-logo.png">
		<img src="inc/img/stylus/less-logo.png">
		<img src="inc/img/stylus/stylus-logo.png">
	</div>

	<p style="margin-top: 1em; font-size: 1.4em;">Меньше кода за те же деньги</p>

</section>