<section class="slide slide-justify">
	<h3>Все проблемы CSS в одном слайде</h3>
	<pre><code class="css">.control {
  display: inline-block;
}
.control input[type=text],
.control input[type=password],
.control input[type=email],
.control input[type=number] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}</code></pre>
</section>