<section class="slide">
	<h3>Плагины</h3>
	<div style="margin-top: 4em;">
		<img src="inc/img/stylus/nib.png" style="margin-right: 1em;">
		<img src="inc/img/stylus/csso.png" style="margin-right: 1em;" class="fragment">
		<img src="inc/img/stylus/autoprefixer.png" class="fragment">
	</div>
</section>