<section class="slide">
	<h3>Препроцессор? — Никогда не слышал</h3>
	<div class="logos">
		<img src="inc/img/stylus/sass-logo.png">
		<img src="inc/img/stylus/less-logo.png">
		<img src="inc/img/stylus/stylus-logo.png">
	</div>

</section>