<section class="slide">
	<h3>Функции: ps-shadows</h3>
	<div style="text-align: center;">
		<img src="inc/img/stylus/ps-drop-shadow.png" style="vertical-align: middle;">
		<span style="font-size: 3em; color: red; vertical-align: middle;">???</span>
	</div>

	<pre class="fragment"><code class="scss">.button {
  box-shadow: ps-drop-shadow(-90deg, 1px, 0, 0, rgba(#636363, .42));
}</code></pre>
</section>