<section class="slide slide-justify">
	<h3>Обычно упоминают</h3>
	<ul>
		<li>вложенность</li>
		<li>префиксы</li>
		<li>переменные</li>
		<li>миксины</li>
	</ul>
	<div class="logos">
		<img src="inc/img/stylus/sass-logo.png">
		<img src="inc/img/stylus/less-logo.png">
		<img src="inc/img/stylus/stylus-logo.png">
	</div>
</section>