<section class="slide center" data-background="#000">
	<video src="inc/video/cool-dashboard.webm" width="1024" loop></video>
</section>
<script>
	Reveal.addEventListener('slidechanged', function(e) {
		playVideo(e.currentSlide.querySelector('[src="inc/video/cool-dashboard.webm"]'), 500);
	});
</script>