<section class="slide">
	<h3>Плагины</h3>
	<div class="logos">
		<img src="inc/img/stylus/nib.png">
		<img src="inc/img/stylus/csso.png">
		<img src="inc/img/stylus/autoprefixer.png">
	</div>
</section>