<section class="slide slide-justify">
	<h3>Уже неплохо</h3>
	<pre><code class="scss">.control {
  display: inline-block;

  input {
    &[type=text],
    &[type=password],
    &[type=email],
    &[type=number] {
      box-sizing: border-box;
    }
  }
}</code></pre>
</section>