<section class="slide slide-justify">
	<h3>Функции</h3>
	<ul>
		<li><code>rgba(#FF0, .5)</code></li>
		<li><code>lighten(#E73414, 10%)</code></li>
		<li><code>lighten(#E73414, 10%)</code></li>
		<li><code>image-size(img/logo.png)</code></li>
		<li><code>ps-drop-shadow(90deg, 0px, 0px, 5px, #000, true)</code></li>
	</ul>
</section>