<section class="slide center">
	<div class="logos">
		<img src="inc/img/stylus/sass-logo.png">
		<img src="inc/img/stylus/less-logo.png">
		<img src="inc/img/stylus/stylus-logo.png">
	</div>
	<div class="logos fragment" style="margin-top: 2em; padding-top: 2em; border-top: double 9px #808080;">
		<img src="inc/img/stylus/postcss-logo.png">
		<img src="inc/img/stylus/rework-logo.png">
	</div>
</section>