<section class="slide slide-justify">
	<h3>Колонки без циклов: ещё продолжение</h3>
	<pre><code class="scss">.columns {
  &--column {
    &-1_5 {
      width: 20%;
    }
    &-2_5 {
      width: 40%;
    }
    &-3_5 {
      width: 60%;
    }
    &-4_5 {
      width: 80%;
    }
  }
}</code></pre>
</section>