<section class="slide slide-justify">
	<h3>Колонки с циклами</h3>
<pre><code class="scss">.columns {
  &--column {
    for $colsTotal in (2 3 4 5 6 8 10 12 20) {
      for $col in (1...$colsTotal) {
        &-{$col}_{$colsTotal} {
          width: $col * (100% / $colsTotal);
        }
      }
    }
  }
}</code></pre>
</section>