<section class="slide">
	<h2>HTML код</h2>
	<br/>
	<pre><code class="xml">
<figure class="picture">
  <svg width="96" height="96">
    <image src="svg.png" width="96" height="96"></image>
  </svg>
</figure>
	</code></pre>
</section>