<section class="slide center">
	<img height="200" src="inc/img/examples/bower.png" alt=""/>
	<img height="200" src="inc/img/examples/grunt.png" alt=""/>
	<br/>
	<br/>
	<h3>Картинки</h3>
	<br/>
	<br/>
	<img height="200" src="inc/img/examples/yo.png" alt=""/>
</section>