<section class="slide center" data-background="inc/img/examples/dxhandbook.png" data-background-size="100%" data-background-repeat="no-repeat" data-background-position="center">
	<h3>Слайд с фоновой картинкой</h3>
</section>