<section class="center slide">
	<h2>Заголовок слайда</h2>
	<br/>
	<ul class="fragment">
		<li>Странности инструментария</li>
		<li>FE Tech Minutes</li>
		<li>Front-End Coding Style</li>
	</ul>
</section>