<section class="slide slide-justify">
	<h2>Списки</h2>
	<br/>
	<ul>
		<li>
			Странности инструментария
			<ul>
				<li>Неадекватное поведение браузеров</li>
				<li>Сборка проектов под маком</li>
			</ul>
		</li>
		<li>
			FE Tech Minutes
			<ul>
				<li class="fragment">2013-11-20 — Stylus, Nib и stylus-utilus</li>
				<li class="fragment">2013-12-04 — Assemble, assemble-partials, assemble-helpers</li>
				<li class="fragment">2013-12-18 – Немного о лэйаутах</li>
				<li class="fragment">2014-01-22 — Grunt</li>
			</ul>
		</li>
		<li class="fragment">
			Front-End Coding Style
			<ul>
				<li>FE-Coding-Style-CSS</li>
				<li>FE-Coding-Style-HTML</li>
				<li>FE-Coding-Style-JS</li>
			</ul>
		</li>
	</ul>
</section>