<section class="slide center slide-plan">
	<h3>Опасность!</h3>
	<ul>
		<li class="fragment" data-fragment-index="0" style="letter-spacing: .1em;">HTML</li>
		<li class="fragment" data-fragment-index="0" style="letter-spacing: .1em;">CSS</li>
		<li class="fragment" data-fragment-index="1">Организация кода</li>
		<li class="fragment" data-fragment-index="1">Управление зависимостями</li>
		<li class="fragment" data-fragment-index="1">Тестирование</li>
	</ul>
</section>