<section class="slide slide-start center" data-background-color="#000">
	<h1>
		Автоматизация
		<span class="skull" style="line-height: 0.8">☠</span>
		или смерть!
	</h1>

	<div class="conf">
		<div class="conf--logo"><img src="inc/img/wsd-logo.svg"></div>
		<div class="conf--name">Web Standards Days</div>
		<div><span class="conf--city">СПб</span>, <span class="conf--date">28 июня 2014</span></div>

	</div>


	<div class="speakers">
		<div class="speakers--company"><img src="inc/img/devexperts-logo.png"></div>
		<ul class="speakers--list">
			<li class="speaker">
				<span class="speaker--name">Антон Еремеев</span>
			</li>
			<li class="speaker">
				<span class="speaker--name">Артём Пархоменко</span>
			</li>
		</ul>
	</div>

</section>
