<section class="slide center" data-background="inc/img/karma/fry.jpg" data-background-size="100%" data-background-repeat="no-repeat" data-background-position="top">
	<h3 style="color: white; text-shadow: 0 0 5px #000;">Доверяй но проверяй</h3>

	<ul style="color: white; text-shadow: 0 0 5px #000;">
		<li>свои stylus-функции</li>
		<li>переиспользуемую верстку</li>
		<li>переиспользуемые хелперы</li>
		<li>библиотчечный код</li>
		<li>контролы виджеты</li>
	</ul>
</section>