<section class="slide">
    <h4>Тестирование</h4>
    <h3>Unit-тесты</h3>
    <br/>
    <ul>
		<li class="fragment">создать spec файл</li>
        <li class="fragment">подключить тесты/фреймворки</li>
		<li class="fragment">открываем все целевые браузеры</li>
		<li class="withoutBullet fragment">
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <br/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
            <img src="inc/img/karma/f5.jpg" alt=""/>
        </li>
	</ul>
</section>