<section class="slide center">
	<blockquote cite="http://karma-runner.github.io/0.12/index.html">
		The main goal for Karma is to bring a productive testing environment to developers. The environment being one where they don't have to set up loads of configurations, but rather a place where developers can just write the code and get instant feedback from their tests. Because getting quick feedback is what makes you productive and creative.
	</blockquote>
</section>