<section class="slide">
    <h3>Тестирование</h3>
    <h4>prod-зависимости</h4>
    <br/>
    <div class="ways">
        <div class="way">
            <h4>Unit-тесты</h4>
            <ul>
                <li>библиотеки</li>
                <li>"клиент-сервер"</li>
            </ul>
        </div><div class="way">
            <h4>e2e-тесты</h4>
            <ul>
                <li>контролы</li>
                <li>виджеты</li>
                <li>"компоненты"</li>
            </ul>
        </div>
    </div>
</section>