<section class="slide center">
	<h3>Karma-runner</h3>
	<br/>
    <ul>
	    <li>запуск браузеров</li>
        <li  class="fragment">любой тестовый фреймворк</li>
		<li  class="fragment">file watchers</li>
		<li  class="fragment">препроцессинг любой сложности</li>
        <li  class="fragment">быстрая обратная связь</li>
    </ul>
</section>