<section class="slide center">
    <h4>Unit-тесты в браузере</h4>
    <br/>
    <ul>
		<li class="fragment">создать spec файл</li>
        <li class="fragment">подключить тесты/фреймворки</li>
		<li class="fragment">открываем все целевые браузеры</li>
		<li class="withoutBullet fragment">
            <img src="inc/img/karma/f5.gif" alt=""/>
        </li>
	</ul>
</section>