<section class="slide center">
    <h3>Unit-тесты в браузере</h3>
    <br/>
    <ul>
		<li class="fragment">создать spec файл</li>
        <li class="fragment">подключить тесты/фреймворки</li>
		<li class="fragment">открыть все целевые браузеры</li>
	</ul>
</section>