<section class="slide">
    <h3>Karma</h3>
    <h4>Важные моменты</h4>
    <br/>
    <ul class="fragment">
        <li>простота</li>
        <li>любой тестовый фреймворк</li>
        <li>препроцессинг любой сложности</li>
        <li>file watchers</li>
        <li>скорость</li>
    </ul>
</section>