<section class="slde center">
    <h4>ng-scenario</h4>
    <br/>
    <ul class="fragment">
        <li>легко настроить</li>
        <li>совместим с Karma</li>
        <li>Строгое API</li>
        <li>Расширяемое API</li>
    </ul>
</section>