<section class="slide center slide-karma-config">
	<h3>karma.conf.js</h3>
	<br/>
	<pre><code style="font-size: 1.2em; line-height: 1.3em;" class="javascript">module.exports = function(config) {
  config.set({
    basePath: '',
    frameworks: ['jasmine'],

    files: [
      'src/dx.*.js',
      'test/dx.*.unit.spec.js'
    ],

    browsers: ['PhantomJS', 'Chrome']
  });
};</code></pre>
</section>