<section class="slide" data-background="inc/img/karma/drilling-F5.gif" data-background-color="black" data-background-size="80%" data-background-repeat="no-repeat" data-background-position="top">

</section>