<section class="slide">
    <h3>Karma</h3>
    <br/>
    <ul>
	    <li class="fragment">запуск браузеров</li>
        <li  class="fragment">любой тестовый фреймворк</li>
        <li  class="fragment">препроцессинг любой сложности</li>
        <li  class="fragment">file watchers</li>
        <li  class="fragment">скорость</li>
    </ul>
</section>