<section class="slide center">
	<h2>Вопросы?</h2>
	<div class="contacts">
		<div class="contacts--speaker">
			Антон Еремеев<br>
			<a href="https://twitter.com/czerny_angel">@czerny_angel</a><br>
			<a href="mailto:eremeev@devexperts.com">eremeev@devexperts.com</a>
		</div>
		<div class="contacts--logo"><img src="inc/img/devexperts-logo.png"></div>
		<div class="contacts--speaker">
			Артём Пархоменко<br>
			<a href="https://twitter.com/mank_dev">@mank_dev</a><br>
			<a href="mailto:aparhomenko@devexperts.com">aparhomenko@devexperts.com</a>
		</div>
	</div>
</section>