<section class="slide">
	<h2>Спасибо</h2>
	<div>
		Антон Еремеев
		<a href="https://twitter.com/czerny_angel">@czerny_angel</a>
	</div>
	<div>
		Артём Прахоменко
		<a href="https://twitter.com/mank_dev">@mank_dev</a>
	</div>
	<div><img src="inc/img/devexperts-logo.png"></div>
	<div><a href="mailto:frontend@devexperts.com">frontend@devexperts.com</a></div>
</section>