<section class="slide slide-start">
	<h1>Главный заголовок</h1>
	<h4>Второй заголовок или подсказка для главной части</h4>

	<img src="inc/img/dxlogo.jpg" alt=""/>

	<ul class="speakers">
		<li class="speaker">
			<span class="speaker--name">Первый Докладчик</span>
			<a href="mailto:first@devexperts.com" class="speaker--mail">first@devexperts.com</a>
		</li>
		<li class="speaker">
			<span class="speaker--name">Второй Докладчик</span>
			<a href="mailto:second@devexperts.com" class="speaker--mail">second@devexperts.com</a>
		</li>
	</ul>
</section>
