<section class="slide slide-start slide-justify center" data-background-color="#000">
	<h1>
		Автоматизация
		<span class="skull">☠</span>
		или смерть!
	</h1>

	<div class="conf">
		<div class="conf--name">РИТ</div>
		<div class="conf--city">Санкт-Петербург</div>
		<div class="conf--date">24—25 апреля 2014</div>
	</div>

	<ul class="speakers">
		<li class="speaker">
			<span class="speaker--name">Еремеев Антон</span>
			<span class="speaker--company">Devexperts</span>
		</li>
		<li class="speaker">
			<span class="speaker--name">Пархоменко Артем</span>
			<span class="speaker--company">Devexperts</span>
		</li>
	</ul>
</section>
