<section class="slide slide-start center">
	<h2>Автоматизация <br/> или смерть!</h2>

	<img src="inc/img/dxlogo.jpg" alt=""/>

	<ul class="speakers">
		<li class="speaker">
			<span class="speaker--name">Еремеев Антон</span>
			<a href="mailto:eremeev@devexperts.com" class="speaker--mail">eremeev@devexperts.com</a>
		</li>
		<li class="speaker">
			<span class="speaker--name">Пархоменко Артем</span>
			<a href="mailto:aparhomenko@devexperts.com" class="speaker--mail">aparhomenko@devexperts.com</a>
		</li>
	</ul>
</section>
