<section class="slide slide-start center" data-background-color="#000">
	<h1>
		Автоматизация
		<span class="skull" style="line-height: 1.2">☠</span>
		или смерть!
	</h1>

	<div class="conf">
		<div class="conf--logo"></div>
		<div class="conf--name">РИТ <span class="conf--city">Санкт-Петербург</span></div>
		<div class="conf--date">24—25 апреля 2014</div>
	</div>


	<div class="speakers">
		<div class="speakers--company"></div>
		<ul class="speakers--list">
			<li class="speaker">
				<span class="speaker--name">Еремеев Антон</span>
			</li>
			<li class="speaker">
				<span class="speaker--name">Пархоменко Артем</span>
			</li>
		</ul>
	</div>

</section>
