@import "nib";
@import "reset";
@import "settings.styl";

@import "theme.styl";


.reveal {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
		line-height: 1.1em;
	}

	.slide-background {
		transform: scale(.97);
		background: #FFFFFF;
	}
	.slide-justify {
		text-align: left;

		h1,
		h2,
		h3,
		h4,
		h4,
		h5,
		h6 {
			text-align: center;
		}
	}

	ul {
		font-size: 1.1em;
		line-height: 2em;

		ul {
			font-size: 0.6em;
			line-height: 1.5em;
		}
	}
	section img {
		border: none;
		box-shadow: none;
	}

	h1 {
		font-family: Georgia, serif;
		font-size: 3em;
		text-transform: none;
		text-align: center;
		color: #CCC;

		span {
			display: block;
			font-size: 3em;
		}
	}
}
.slideNumber {
	font-family: $mainFont;
	absolute: bottom 5% right 5%;
	display: block;
	margin: -30px 0 0 -30px;
	width: 30px;
	height: 30px;

	color: #E64D1A;
}

.reveal .progress span {
	background: rgba(#fff, .5);
}


