<section class="popup {{modifiers this 'popup'}}" id="{{id}}">
	<div class="popup--window">
		{{> popup--header}}

		<div class="popup--content">
			{{inc content this}}
		</div>

		{{> popup--footer}}
	</div>
</section>