<section class="slide center" data-background="#000">
	<video src="inc/video/dxtrade5.mov" width="1024"></video>
</section>
<script>
	Reveal.addEventListener('slidechanged', function(e) {
		playVideo(e.currentSlide.querySelector('[src="inc/video/dxtrade5.mov"]'), 1500);
	});
</script>