<section class="slide slide-justify">
	<h3>Статические прототипы</h3>
	<ul>
		<li>Результат сразу</li>
	</ul>
	<div style="margin-top: 2em; padding: 1em; border: dashed #CCC 1px;">Макет → Вёрстка → Сервер-сайд → Сборка → Деплой → Что-то не нравится → :-(</div>
	<div class="fragment"  style="margin-top: 2em; padding: 1em; border: dashed #CCC 1px;">Макет → Вёрстка → Что-то не нравится</div>
</section>