<section class="slide slide-justify">
	<h2>Assemble</h2>
	<ul>
		<li class="fragment">Layout</li>
		<li class="fragment">Page</li>
		<li class="fragment">Partial</li>
		<li class="fragment">Helper</li>
		<li class="fragment">Data</li>
	</ul>
</section>