<section class="slide center">
	<h3 style="font-size: 1.3em;">Статические прототипы</h3>
	<ul>
		<li>короче цикл внесения изменений</li>
		<li>отвязка от технологии</li>
		<li>не нужен сервер</li>
	</ul>
</section>