<section class="slide center">
	<img style="box-shadow: 0 0 10px #808080;" src="inc/img/assemble/toslc-good.jpg">
	<img class="fragment" style="margin-top: 1em; box-shadow: 0 0 10px #808080" src="inc/img/assemble/toslc-bad.jpg">
</section>