<section class="slide slide-justify">
	<h3>Проблема</h3>
	<p>page.hbs</p>
	<pre><code class="javascript">
---
title: Page with widget
---

\{{> widget data}}
	</code></pre>

	<p>widget.hbs</p>
	<pre><code class="javascript">
\{{title}} // undefined — wtf?
	</code></pre>
</section>