<section class="slide">
	<h3>Проблемы статического HTML</h3>
	<ul>
		<li><del>Надо поддерживать много файлов</del></li>
		<li><del>Сложно найти место, где править</del></li>
		<li>Сложно править таблицы и списки</li>
	</ul>
</section>