<section class="slide slide-justify">
	<h3>Воркэраунд</h3>
	<p>page.hbs</p>
	<pre><code class="javascript">
---
title: Page with widget
---

\{{setGlobalScope}}
\{{> widget data}}
	</code></pre>

	<p>widget.hbs</p>
	<pre><code class="javascript">
\{{#withGlobalScope}}\{{title}}\{{/withGlobalScope}}
	</code></pre>
</section>