<section class="slide">
	<h3>Нет привязки к технологии</h3>
	<div class="logos">
		<img src="inc/img/assemble/html.png"><br>
		<img src="inc/img/assemble/gwt.png" class="fragment" data-fragment-index="0">
		<img src="inc/img/assemble/freemarker.png" class="fragment" data-fragment-index="0">
		<img src="inc/img/assemble/jsp.png" class="fragment" data-fragment-index="0">
	</div>
</section>