<section class="slide center">
	<h3>Проблемы статического HTML</h3>
	<ul>
		<li>надо поддерживать много файлов</li>
		<li>сложно найти место, где править</li>
		<li>сложно править таблицы и списки</li>
	</ul>
</section>