<section class="slide">
	<h3>Результат сразу</h3>

	<div>
		<p style="color: red;">Плохо</p>
		<div style="padding: 1em; border: dashed red 1px;">Макет → Вёрстка → Сервер-сайд → Сборка → Деплой → Что-то не нравится → :-(</div>
	</div>

	<div style="margin-top: 2em" class="fragment">
		<p style="color: green">Хорошо</p>
		<div  style="padding: 1em; border: dashed green 1px;">Макет → Вёрстка → Что-то не нравится</div>
	</div>
</section>