<section class="slide">
	<h3>Бонусы Assemble</h3>
	<ul>
		<li>Удобная конфигурация + <code>postprocess</code></li>
		<li>Огромная библиотека хелперов</li>
		<li>Возможность писать свои хелперы</li>
	</ul>
</section>