<section class="slide slide-justify">
	<h3>Статические прототипы</h3>
	<ul>
		<li>Результат сразу</li>
		<li>Красиво!</li>
		<li>Нет привязки к технологии</li>
	</ul>

	<div>
		<img src="inc/img/assemble/html.png">
		<img src="inc/img/assemble/gwt.png" class="fragment">
		<img src="inc/img/assemble/freemarker.png" class="fragment">
		<img src="inc/img/assemble/jsp.png" class="fragment">
	</div>
</section>