<section class="slide center">
	<h3>Бонусы Assemble</h3>
	<ul>
		<li>удобная конфигурация</li>
		<li><code>postprocess</code></li>
		<li>огромная библиотека хелперов</li>
		<li>возможность писать свои</li>
	</ul>
</section>