<section class="slide slide-justify">
	<h2>Важные моменты</h2>
	<ul>
		<li>YFM</li>
		<li class="fragment">Встроенные переменные</li>
		<li class="fragment"><code>postprocess</code></li>
	</ul>
</section>