<section class="slide center">
    <h3>Организация кода</h3>
    <br/>
    <div class="boxes">
        <span class="box">models</span><span class="box">controllers</span><span class="box">views</span>
    </div>
    <div class="boxes fragment">
        <span class="box">block</span><span class="box">block</span><span class="box">block</span><span class="box">block</span>
    </div>
</section>