<section class="slide center">
	<blockquote>
		I think empty folders and empty files are two of the pivotal innovations in Rails that have encouraged us to write clean applications since the framework appeared
	</blockquote>
</section>