<section class="slide center">
    <h3>Организация кода</h3>
    <br/><br/>
	<blockquote>
		I think <strong>empty folders</strong> and <strong>empty files</strong> are two of the pivotal innovations in Rails that have encouraged us to write <strong>clean applications</strong> since the framework appeared
        <span class="citeAuthor">David Heinemeier Hansson (railsConf 2011)</span>
	</blockquote>
</section>