<section class="slide center" data-background-color="#dbd5bb">
	<video src="inc/video/yo-demo.mov" width="990"></video>
</section>
<script>
	Reveal.addEventListener('slidechanged', function(e) {
		playVideo(e.currentSlide.querySelector('[src="inc/video/yo-demo.mov"]'), 4000);
	});
</script>