<section class="slide center">
    <h3>Идеологические проблемы</h3>
    <br/><br/>
    <ul>
        <li>именование файлов</li>
        <li>организация файлов</li>
        <li>best practices</li>
    </ul>
</section>