<section class="slide center">
    <h3>Yo</h3>
	<ul>
		<li>механизм запуска генерации</li>
		<li>логирование</li>
		<li>взаимодействие с пользователем</li>
		<li>процессинг файлов</li>
	</ul>


</section>