<section class="slide center">
    <h3>Yo</h3>
	<ul class="fragment">
		<li>механизм запуска генрации</li>
		<li>логгирование</li>
		<li>взаимодействие с пользователем</li>
		<li>процессинг файлов</li>
	</ul>


</section>