<section class="slide">
    <h3>Yo</h3>
    <h4>Важные моменты</h4>
	<br/>
	<ul>
		<li>простой</li>
		<li class="fragment">гибкий</li>
		<li class="fragment">может многое "из коробки"</li>
		<li class="fragment">популярный</li>
	</ul>


</section>