<section class="slide center">
	{{#nolinebreaks}}
        <div class="fullsize">
			<img src="inc/img/yo/filestructure-step1.jpg" alt="" class="fullsize--img"/>
			<img src="inc/img/yo/filestructure-step2.jpg" class="fullsize--img fragment" alt="" />
			<img src="inc/img/yo/filestructure-full.jpg" class="fullsize--img fragment" alt="" />
        </div>
	{{/nolinebreaks}}
</section>