<section class="slide slide-titled slide-justify center" data-background-color="#000">
	<h2 class="header-yo"><span class="skull">☠</span> Организация кода <span class="skull">☠</span></h2>
</section>