<section class="slide center">
    <h3>Выбор файловой структуры</h3>
    <br/>
	<br/>
    <ul style="display: inline-block;">
        <li>идеология</li>
        <li>специфика</li>
    </ul>
    <ul class="nobullet fragment" style="display: inline-block;">
        <li>(БЭМ)</li>
        <li>(цветовые схемы)</li>
    </ul>
</section>