<section class="slide center">
	{{#nolinebreaks}}
        <div style="position: relative;">
            <img class="no-scale fragment" data-fragment-index="1" src="inc/img/yo/struct-core.jpg"  alt=""/><img class="no-scale fragment" data-fragment-index="1" src="inc/img/yo/struct-default.jpg"  alt=""/><img class="no-scale fragment" data-fragment-index="1" src="inc/img/yo/struct-dx.jpg"  alt=""/><img class="no-scale fragment" data-fragment-index="1" src="inc/img/yo/struct-wl.jpg" alt=""/>
            <img class="xlarge" src="inc/img/yo/simple-structure.jpg" alt=""/>
        </div>
	{{/nolinebreaks}}
</section>