<section class="slide center">
	<h3>Yo</h3>
	<h4>Подгенераторы</h4>

	<br/><br/>

	<pre><code class="bash">
	$ yo dx someAwesomeBlock

	$ yo dx someAwesomeBlock --styls

	$ yo dx someAwesomeBlock --partial
		</code></pre>
</section>