<section class="slide center">
    <h4>Выбор файловой структуры</h4>
    <br/>
    <ul style="display: inline-block;">
        <li>идеология</li>
        <li>специфика</li>
    </ul>
    <ul class="nobullet fragment" style="display: inline-block;">
        <li>(БЭМ)</li>
        <li>(мультискиннинг)</li>
    </ul>
</section>