<section class="slide" data-background="inc/img/yo/godeepper.jpg" data-background-size="100%" data-background-repeat="no-repeat" data-background-position="center">
    <h3 class="white">Скаффолдинг</h3>
	<h3 class="white" style="margin-top: 100%; position: relative; top: -400px">Скаффолдеров</h3>
</section>