<section class="slide center">
	{{#nolinebreaks}}
		<img class="fragment" data-fragment-index="1" src="inc/img/yo/structure-coolwl.jpg" style="margin-bottom: -10%; margin-right: 10%; position: relative;" alt=""/>
		<img class="fragment" data-fragment-index="1" src="inc/img/yo/structure-awesomewl.jpg" style="margin-bottom: -10%; position: relative;" alt=""/>
		<br/>
		<img src="inc/img/yo/simple-structure.jpg" alt=""/>
		<br/>
		<img class="fragment" data-fragment-index="1" src="inc/img/yo/structure-dxwl.jpg" style="margin-top: -10%; margin-right: 10%;" alt=""/>
		<img class="fragment" data-fragment-index="1" src="inc/img/yo/structure-excitewl.jpg" style="margin-top: -10%;" alt=""/>
	{{/nolinebreaks}}

</section>