<section class="slide center">
    <div class="fullsize">
        <img class="fullsize--img" src="inc/img/yo/graph-simple.jpg" alt=""/>
        <img class="fullsize--img fragment" src="inc/img/yo/graph-zombie.jpg" alt=""/>
    </div>
</section>