<section class="slide">
	<h3>Ссылки</h3>
	<ul>
		<li>Assemble: <a href="">сайт</a>, <a href="">github</a></li>
		<li>Stylus: <a href="">сайт</a>, <a href="">github</a></li>
		<li>Bower: <a href="">сайт</a>, <a href="">github</a></li>
		<li>Yo: <a href="">сайт</a>, <a href="">github</a></li>
		<li>Karma: <a href="">сайт</a>, <a href="">github</a></li>
		<li><a href="">Grunt</a>, <a href="">gulp</a></li>
	</ul>
</section>