<section class="slide">
	<h3>Ссылки <small>(3)</small></h3>
	<ul>
		<li><a href="https://github.com/karma-runner/karma">github.com/karma-runner/karma</a></li>
		<li><a href="http://maksimr.github.io/p-karma/">maksimr.github.io/p-karma</a></li>
		<li><a href="http://gruntjs.com/">gruntjs.com</a></li>
		<li><a href="http://gulpjs.com/">gulpjs.com</a></li>
		<li><a href="https://www.npmjs.org/doc/misc/npm-scripts.html">npmjs.org/doc/misc/npm-scripts.html</a></li>
	</ul>
</section>