<section class="slide">
	<h3>Ссылки</h3>
	<ul>
		<li><a href="http://assemble.io/">assemble.io</a>, <a href="https://github.com/assemble/assemble/">github.com/assemble/assemble</a></li>
		<li><a href="http://learnboost.github.io/stylus/">learnboost.github.io/stylus</a>, <a href="https://github.com/LearnBoost/stylus">github.com/LearnBoost/stylus</a></li>
		<li><a href="http://bower.io/">bower.io</a>, <a href="https://github.com/bower/bower">github.com/bower/bower</a></li>
		<li><a href="http://yeoman.io/">yeoman.io</a>, <a href="https://github.com/yeoman/yo">github.com/yeoman/yo</a></li>
		<li><a href="http://karma-runner.github.io/">karma-runner.github.io</a>, <a href="https://github.com/karma-runner/karma">github.com/karma-runner/karma</a></li>
		<li><a href="http://gruntjs.com/">gruntjs.com</a>, <a href="http://gulpjs.com/">gulpjs.com</a></li>
	</ul>
</section>