<section class="slide">
	<h3>Ссылки <small>(2)</small></h3>
	<ul>
		<li><a href="http://bower.io/">bower.io</a></li>
		<li><a href="https://github.com/bower/bower">github.com/bower/bower</a></li>
		<li><a href="http://yeoman.io/">yeoman.io</a></li>
		<li><a href="https://github.com/yeoman/yo">github.com/yeoman/yo</a></li>
	</ul>
</section>