<section class="slide">
	<h3>Ссылки</h3>
	<ul>
		<li>Assemble: сайт, github</li>
		<li>Stylus: сайт, github</li>
		<li>Bower: сайт, github</li>
		<li>Yo: сайт, github</li>
		<li>Karma: сайт, github</li>
		<li>Grunt, gulp</li>
	</ul>
</section>