<section class="slide">
	<h3>Ссылки <small>(1)</small></h3>
	<ul>
		<li><a href="http://assemble.io/">assemble.io</a></li>
		<li><a href="https://github.com/assemble/assemble/">github.com/assemble/assemble</a></li>
		<li><a href="http://www.slideshare.net/yandex/ss-28968488">slideshare.net/yandex/ss-28968488</a></li>
		<li><a href="http://learnboost.github.io/stylus/">learnboost.github.io/stylus</a></li>
		<li><a href="https://github.com/LearnBoost/stylus">github.com/LearnBoost/stylus</a></li>
		<li><a href="https://github.com/reworkcss/rework">github.com/reworkcss/rework</a></li>
	</ul>
</section>