<section class="slide slide-plan">
	<h3>Источники смертельной опасности</h3>
	<ul>
		<li class="fragment" data-fragment-index="0">HTML</li>
		<li class="fragment" data-fragment-index="0">CSS</li>
		<li class="fragment" data-fragment-index="1">Организация кода</li>
		<li class="fragment" data-fragment-index="1">Управление зависимостями</li>
		<li class="fragment" data-fragment-index="1">Тестирование</li>
	</ul>
</section>