<section class="slide slide-justify">
	<h3>«Смертельные» опасности:</h3>
	<ul>
		<li>HTML</li>
		<li>CSS</li>
		<li>Организация кода</li>
		<li>Управление зависимостями</li>
		<li>Тестирование</li>
	</ul>
</section>