{{#nolinebreaks}}
<ul class="tabs">
	{{#each this}}
		<li class="tab {{modifiers this 'tab'}}">
			<span class="tab--inner">
				<span class="link-pseudo">{{text}}</span>
			</span>
		</li>
	{{/each}}
</ul>
{{/nolinebreaks}}